{% extends 'layout.html' %}

{% block body1 %}

            <h2>문장 완성하기</h2> <h3> ▶▶완성된 문장 만들어보기</h3>

            <br><br>

            <p> 지난 시간에 수업했던 것을 복습해보겠습니다.</p>
            <p><a href="/engcademy/0" target="_blank">'주어+동사+목적어'구조</a><br>ex) he drinks water.</p>

            <p><a href="/engcademy/1" target="_blank">'동사를 꾸며주는 to부정사를 추가하여 문장 확장하기'</a><br>ex)I study hard to get A+.</p>

            <p><a href="/engcademy/2" target="_blank">'전치사구를 추가해서 좀 더 구체적인 문장 만들기'</a><br> ex)Many people use cellphone to book hotel because of the convenience</p>

            <p>자,지금부터 문장을 완성해보도록 하겠습니다.</p>
            <br><br>

{% endblock %}

{% block body2 %}
            <!--here-->

            1. 저는 당신 생일을 위해 당신에게 주려고 그것을 샀어요.<br>
            ☞  <input type="text" id="q0" size="60">. <span id="s0"></span><br><br>
            2. 우리는 회의하기 전에 공기를 상쾌하게 바꾸기 위해 문을 열었어요.<br>
            ☞  <input type="text" id="q1" size="60">. <span id="s1"></span><br><br>
            3. 그는 여름방학 동안 여행하기 위해 돈을 저축했어요.<br>
            ☞  <input type="text" id="q2" size="60">. <span id="s2"></span><br><br>
            4. 나는 뉴스 끝나고 드라마를 보기 위해 채널을 바꿨어요.<br>
            ☞  <input type="text" id="q3" size="60">. <span id="s3"></span><br><br>
            5. Tony가 개인적으로 대화하려고 저를 방문했었어요.<br>
            ☞  <input type="text" id="q4" size="60">. <span id="s4"></span> <br><br>
            <input type="submit" id="submit">
          
{% endblock %}
           
{% block body3 %}
{% for i in hint %}
<li class="hint">{{i}}</li>
{% endfor %}
{% endblock %}


