{% extends 'layout.html' %}

{% block body1 %}

            <h2>최종 마무리</h2> <h3> ▶▶완성 문장 확인하기</h3>

            <br><br>

           
            <br><br>

{% endblock %}

{% block body2 %}
            <!--here-->
            <div class="ps">
                  <h5><strong>※ 완성된  문장을 확인하고 여러번 쓰고 읽어보세요</strong><span class="glyphicon glyphicon-headphones"></span></h5>    
            </div>
           

            1. <strong>저는 당신 생일을 위해 당신에게 주려고 그것을 샀어요.</strong><br>
            ☞  <strong>I bought it</strong>/ to give you /for your birthday.&nbsp; &nbsp;<button>담기</button><br><br>
            2. <strong>우리는 회의하기 전에 공기를 상쾌하게 바꾸기 위해 문을 열었어요.</strong><br> 
            ☞  <strong>We opened the door</strong>/ to refresh the air /before the meeting.&nbsp; &nbsp;<button>담기</button><br><br>
            3. <strong>그는 여름방학 동안 여행하기 위해 돈을 저축했어요.</strong><br>
            ☞  <strong>He saved money</strong>/ to travel /during the summer vacation.&nbsp; &nbsp;<button>담기</button><br><br>
            4. <strong>나는 뉴스 끝나고 드라마를 보기 위해 채널을 바꿨어요.</strong><br>
            ☞  <strong>I changed the channel</strong>/ to watch the drama /after the news.&nbsp; &nbsp;<button>담기</button><br><br>
            5. <strong>Tony가 개인적으로 대화하려고 저를 방문했었어요.</strong><br>
            ☞  <strong>Tony visited me</strong>/ to talk /in private.&nbsp; &nbsp;<button>담기</button><br><br>
            <audio controls="controls">
                  <source src="/static/05-01.MP3" type="audio/mp3" autoplay="autoplay">
            </audio><br><br>

            <br><br>
          
{% endblock %}
           
{% block body3 %}
{% for i in hint %}
<li class="hint">{{i}}</li>
{% endfor %}
{% endblock %}


