{% extends 'layout.html' %}

{% block body1 %}

            <h2>문장 시작하기</h2> <h3> ▶▶주어+동사+목적어</h3>

            <br><br>

            <p> 그는 물을 마신다.  <br>ex) He drinks water.<br> 나는 음식을 먹었다.<br>ex)  I ate food.</p>

            <br>

            <p>이처럼 우리가 가장 기본적으로 구사하는 문장은 '주어+동사+목적어' 구조로 이루어져 있습니다.</p>

            <p>간단한 '주어+동사+목적어' 구조를 생각하며 영작부터 시작해볼까요? <br><br> 시제는 항상 주의하세요!</p>

            <br><br>

{% endblock %}

{% block body2 %}
            <!--here-->
            <div class="ps">
                  <h5><strong>※ 대소문자, 띄어쓰기 정확하게 입력해주세요.</strong></h5>    
            </div>

            1. 저는 <strong class="quiz">그것을 샀어요.</strong><br>
            ☞  I <input type="text" id="q0">. <span id="s0"></span><br><br>
            2. 우리는 <strong class="quiz">문을 열었어요.</strong><br>
            ☞ We <input type="text" id="q1">. <span id="s1"></span><br><br>
            3. 그는 <strong class="quiz">돈을 저축했어요.</strong><br>
            ☞ He <input type="text" id="q2">. <span id="s2"></span><br><br>
            4. 저는 <strong class="quiz">채널을 바꿨어요.</strong><br>
            ☞ I <input type="text" id="q3">. <span id="s3"></span><br><br>
            5. Tony가 <strong class="quiz">저를 방문했어요.</strong><br>
            ☞ Tony <input type="text" id="q4">. <span id="s4"></span> &nbsp;&nbsp;&nbsp;<br><br>
            <input type="submit" id="submit"><br><br>

            <br><br>
          
{% endblock %}
           
{% block body3 %}
{% for i in hint %}
<li class="hint">{{i}}</li>
{% endfor %}
{% endblock %}



