{% extends 'layout.html' %}

{% block body1 %}

             <h2>문장 더 확장하기</h2><h3> ▶▶전치사구를 추가해서 좀 더 구체적인 문장 만들기</h3>
             <br><br>

         <p>많은 사람들은 호텔을 예약하기 위해 핸드폰을 사용한다. <br>ex) Many people use cellphone to book hotel.</p>

         <p>앞선 예제인 to 부정사 용법을 활용해 모두들 구사하였죠? 자, 문장이 점점 길어집니다. 집중하세요!</p>

         <p>많은 사람들은 편리함 때문에 호텔을 예약하기 위해 핸드폰을 사용한다.<br>ex) Many people use cellphone to book hotel because of the convenience.</p><br>

         <p>장소, 기간, 이유, 목적 등 부가적인 전치사구를 기존 문장에 추가하여 문장을 더욱 멋스럽게 구사할 수 있습니다.</p>
         <p>이 때, 전치사구는 없어도 그만! 있으면 좋은! 생략 가능한 부분이랍니다.</p>
         <p>자, 다소 어렵게 느껴질 수 있지만 한 번 시작해볼까요? 어려운 전치사구는 이해하려 하기 보다는 그냥 외우시면 됩니다. 언어는 자주 보고, 자주 접하고, 자주 사용할수록 내 것이 되니까요! </p> 

{% endblock %}

{% block body2 %}
            <!--here-->
            <div class="ps">
                  <h5><strong>※ 대소문자, 띄어쓰기 정확하게 입력해주세요.</strong></h5>    
            </div>

1. 저는 <strong class="quiz">당신 생일을 위해 </strong>당신에게 주려고 그것을 샀어요.<br>
   ☞  I bought it to give you <input type="text" id="q0">. <span id="s0"></span><br><br>
   2. 우리는 <strong class="quiz">회의를 하기 전에 </strong>공기를 상쾌하게 바꾸기 위해 문을 열었어요.<br>
   ☞  We opened the door to refresh the air <input type="text" id="q1">. <span id="s1"></span><br><br>
   3. 그는 <strong class="quiz">여름방학 동안 </strong>여행하기 위해 돈을 저축했어요.<br>
   ☞  He saved money to travel <input type="text" id="q2">. <span id="s2"></span><br><br>
   4. 저는 <strong class="quiz">뉴스 끝나고 </strong>드라마를 보기 위해 채널을 바꿨어요.<br>
   ☞  I changed the channel to watch the drama <input type="text" id="q3">. <span id="s3"></span><br><br>
   5. Tony가 <strong class="quiz">개인적으로 </strong>대화하려고 저를 방문했어요.<br>
   ☞  Tony visited me to talk <input type="text" id="q4">. <span id="s4"></span><br><br>
   <input type="submit" id="submit">
          
{% endblock %}
           
{% block body3 %}
{% for i in hint %}
<li class="hint">{{i}}</li>
{% endfor %}
{% endblock %}


