<!DOCTYPE html>
<html>

<head>

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
    

    <title>Landing Page - Start Bootstrap Theme</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<style>
  .img-circle{
    width: 230px;
    height: 230px;
    margin-top:20px;
  }
  
  .featurette-image img-responsive {
    width: 500px;right: 
    height: 500px;


  }

</style>




</head>

<body>









    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="/static/writing1.JPG" data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:First slide" alt="First slide" style="width:100%;">
          <div class="container">
            <div class="carousel-caption">
              <h1>ENGCADEMY</h1>
              <p>영어작문에 관심이 있는 대학생과 직장인을 대상으로한 영어작문 플랫폼으로써<br>

                영어작문을 누구나 쉽게 공부할 수 있습니다.</p>
              <p><a class="btn btn-large btn-primary" href="/signup">Sign Up Today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="writing.jpg" data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:Second slide" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-large btn-primary" href="#">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="data:image/png;base64," data-src="holder.js/100%x500/auto/#777:#7a7a7a/text:Third slide" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-large btn-primary" href="#">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>

    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="http://vignette4.wikia.nocookie.net/dragon-story/images/e/e4/Splash_1024_x_768.png/revision/latest?cb=20120515225703" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Story Writing 30Day<span><h4>for Beginner</h4></span></h2>


          <p>초급자를 위한 30일 스토리 라이팅으로써 누구나 쉽고 <br>재미있게 영작을 시작도록 돕습니다.<br>

            Day 1 주어+동사 <br>
            Day 2 주어+be동사+형용사/명사 <br>
            Day 3 ‘전치사+명사’의 사용 <br>
            Day 4 ‘전치사+명사’ 여러 개 써서 문장 늘리기 <br>
            Day 5 to부정사의 부사적 용법 <br>
            Day 6 Who Is Deck?Story Writing 1 <br>
            Day 7 There is/are의 사용 <br>
            Day 8 빈도수 높은 형용사의 사용 <br>
            Day 9 to부정사의 형용사적 용법 <br>
            ...
            
          </p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="http://2.bp.blogspot.com/-WEPwjq7cNdw/Ub-QRqWilpI/AAAAAAAACNs/XREuowyc21I/s1600/Slide1.png" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Business Writing 30Day<span><h4>for Intermediate</h4></span></h2>
          <p>중급자를 위한 30일 비지니스 라이팅으로써 이메일라이팅을 통하여 해외 비지니스에 필요한 모든 영작을 경험 할 수 있습니다.<br>
          
            DAY 1 동명사 -ing: 주격, 목적격 <br>
            DAY 2 to부정사, in order to, 전치사 to를 한 문장에 쓰기 <br>
            DAY 3 요구하는 이메일 E-mail Writing 1 <br>
            DAY 4 동사+목적격 대명사+to부정사 <br>
            DAY 5 remember, regret, forget 뒤에 to부정사와 동명사 구별해서 쓰기 <br>
            DAY 6 가능한 일과 불가능한 일 표현하기 <br>
            DAY 7 사과하는 이메일 E-mail Writing 2 <br>
        
            ...
          </p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="http://www.assignmentsupport.com//media/images/college_essay.jpg" alt="Generic placeholder image">
          <h2>Essay Writing 40Day<span><h4>for High Class</h4></span></h2>
          <p>고급자를 위한 40일 에세이 라이팅으로써 TOEFL,TOIEC<br>IELTS,SAT등등에 필요한 모든 영작을 경험 할 수 있으며, 나아가 유학이나 교환학생을 준비하는 사람들에게 도움이 되는 강좌입니다. <br>

           
            
            ★Day 1 직접화법을 간접화법으로 고치기 <br>
            ★Day 2 Essay Writing 1 <br>
            ★Day 3 조동사가 쓰인 직접화법을 간접화법으로 고치기 <br>     
            ★Day 4 Essay Writing 2     <br>
            ★Day 5 복합 관계부사, 복합 관계대명사, no matter ~ <br>
            ★Day 6 Essay Writing 3 <br>
            ★Day 7 관계대명사의 계속적 용법, 제한적 용법 <br>
            
            ...


          </p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h1 class="featurette-heading">명확한 가이드라인을 통한 체계적 학습<span class="text-muted"></span></h1>
          <p class="lead">Grama Focus을 통해 오늘 공부할 문법을 점검하고,<br> 단계별로 작문 공부를 시작합니다.<br>
           단어 힌트가 주어져 영어작문을 돕습니다.<br>한글이 주어지면 영어로 답하는 형식입니다. <br><br>


            ex) 나는 그 빌딩으로 가는 길을 알고 있다.<br>
              -> I Know the way to the building. <br>

          </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="https://hcp.gsk.co.uk/content/dam/Health/en_GB/HCP_Home/content/seretide/BTS%20Algorithm.JPG" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="http://dunningsclass.com/wp-content/uploads/2014/07/Writing-Letter.jpg" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h1 class="featurette-heading">점진적 문장확장을 통한 과학적 학습법<span class="text-muted"></span></h1>
          <p class="lead"> 기억학습곡선을 고려하여 점진적 문장 확장을 통해 영작을 익히게 됩니다.나도 모르게 쓰다보면 실력이 향상되어 있습니다.4가지 단원이 끝날때 마다 마무리로 긴글을 써봄으로써 내용들을 점검합니다 <br><br>

            ex) 전치사구를 통한 점진적 문장 확장<br>
                1. Many people study english.<br>
                2. Many people study english through online course.<br>
                3. Many people study english through online course instead of offline course.<br>
                4. Many people study english through online course instead of offline course because of the convenience.<br>


          </p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h1 class="featurette-heading">커뮤니티를 통한 다양한 관점 학습 <span class="text-muted"></span></h1>
          <p class="lead">커뮤니티에서 자신의 답안을 확인해보세요!!<br>모범답안 이외에 다양한 답안을 보고 새로운  글쓰기의 관점을 터득할 수 있습니다.<br>좋아요 시스템을 통해 베스트 답안부터 바로 확인할 수 있습니다.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="http://blog.hihostels.com/wp-content/uploads/2013/11/A-global-community-of-travellers1.jpg" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


     

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../assets/js/jquery.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/holder.js"></script>
  
    
    
          

    </div>
    <!-- /.intro-header -->
      <section>
        <div class="jumbotron">
            <div class="container">
                <h1>잉카데미 Beta Test </h1>
                <p>Q&A<br>
1. 기존 영어 작문책과는 무엇이 다르냐?<br>
-> 반복적인 복습이 가능합니다<br>
-> 여러 책을 하나하나 번거롭게 사지 않고도, 이 플랫폼하나에서  온전히 질 좋은 영어작문 공부를 할 수 있습니다.<br>

2. 동기부여는 어떻게 주는가?<br>
-> 일주일 마다 복습 다시하라는 지속적 푸쉬메일 보내기<br>
-> 오프라인 스터디 형성 지원<br>
-> 온라인 커뮤니티 형성 지원<br>

3. 커뮤니티 활성화 방안<br>
->좋아요 등을 통해 베스트 답안 창출<br>
</p>
                <p><a class="btn btn-primary btn-lg">Learn more</a></p>
            </div>
        </div>


    </section>  



    <!-- Page Content -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">아직도 기존의  영어작문 첨삭 사이트를 통해 실력을 키우십니까 </h2>
                    <p class="lead">1. 번거로웠던 작문공부를 개선 하였습니다.<br>
                        2. 초급자를 위한 단계별 작문 학습법을 제시하였습니다.<br>
                        3. 누구나 쉽고 즐겁게 영어 작문을 익힐 수 있습니다.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/static/ipad.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->
       
        <ol class="breadcrumb">
 
        </ol>

    </div>
   
   <section>
        <div class="container">
<div class="row">
  
  <form role="form" action="" method="post" >
    <div class="col-lg-6">
       <h1>Contact Form</h1>
      <div class="form-group">
        <label for="InputName">Your Name</label>
        <div class="input-group">
          <input type="text" class="form-control" name="InputName" id="InputName" placeholder="Enter Name" required>
          <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
      </div>
      <div class="form-group">
        <label for="InputEmail">Your Email</label>
        <div class="input-group">
          <input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Enter Email" required  >
          <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
      </div>
      <div class="form-group">
        <label for="InputMessage">Message</label>
        <div class="input-group"
>
          <textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" required></textarea>
          <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
      </div>
      <div class="form-group">
       
        <div class="input-group">
          
          <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
      </div>
      <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
    </div>
  </form>
  <hr class="featurette-divider hidden-lg">
  <div class="col-lg-5 col-md-push-1">
    <address>
    
    <p class="lead">
        <h1>GUSS CODINGK</h1><br>
서울대 연구공원 본관<br>
      Phone: 010-9529-3911<br>
      Mail: jahoynim@naver.com</p>
    </address>
     <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fengcademy&amp;width=350px&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=true&amp;appId=1523599547919884" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:350pxpx; height:258px;" allowTransparency="true"></iframe>
  </div>
</div>
                          
    
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                            <li>
                                <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li>
                        </ul>
                                               
  </div>


</div>



   </section>



{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <script >
        alert('{{message}}');
      </script>
    {% endfor %}
  {% endif %}
{% endwith %}









</body>

</html>